# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# OS / editor
.DS_Store
.idea/
.vscode/

# Logs and local env
*.log
.env
.env.*
